<p id="notice"><%= notice %></p>

<h2></h2>

<div class="product-block">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th class="col-md-2">Keywords List</th>
        <th class="col-md-4"><a >
          <%= form_tag import_keywords_path(current_user), multipart: true do %>
              <%= file_field_tag :file, class:"btn btn-primary"%>
              <%= submit_tag "Import CSV", class:"btn btn-success" %>
          <% end %>
        </a>  </th>
      </tr>
    </thead>
    <tbody>
      <% @keywords.each do |keyword| %>
        <tr>
         <td class="col-md-2"><%= keyword.word %></td>
         <td class="col-md-4">
            <%= link_to 'Show', keyword, class: "btn btn-info" %>
            <%= link_to 'Edit', edit_keyword_path(keyword), class: "btn  btn-warning" %>
            <%= link_to 'Destroy', keyword_path(keyword), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
         </td>
     </tr>
      <% end %>
    </tbody>
  </table>
</div>
